<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bioclipse.rdf.rdf2bioobjectfactory"
      name="RDF2BioObjectFactory"
      schema="schema/net.bioclipse.rdf.rdf2bioobjectfactory.exsd"/>

   <extension point="org.eclipse.ui.editors">
      <editor
            name="RDF Graph Viewer"
            extensions="n3"
            icon="icons/rdf.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.bioclipse.rdf.ui.editors.RDFEditor"
            id="net.bioclipse.rdf.ui.editors.RDFEditor">
         <contentTypeBinding
               contentTypeId="net.bioclipse.contenttypes.rdf.n3">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
