<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bioclipse.rdf.rdf2bioobjectfactory">
      <Factory
            instance="net.bioclipse.rdf.ui.RDFToSequenceFactory"
            uri="http://rdf.farmbio.uu.se/chembl/onto/#Target" >
      </Factory>
   </extension>
</plugin>
