<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.owlapi.business.OWLAPIManagerFactory"
            id="net.bioclipse.owlapi.business.OWLAPIManager">
      </scriptContribution>
   </extension>

</plugin>
