<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    
    <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.structuredb.rdf.StructureRDFManager"
            service="net.bioclipse.structuredb.business.StructureRDFManagerFactory">
      </scriptContribution>
   </extension>
   
</plugin>
